@import url('http://fonts.cdnfonts.com/css/nunito-sans');
:root {
  font-family: Nunito Sans;
  font-size: 14px;
  background-color: hsl(0, 0%, 98%);
  max-width: 100%;
  justify-content: center;
}

body {
  margin: 0;
}

#app {
  margin: 0 auto;
  justify-content: center;
}
button {
  padding: 0;
}

@media (max-width: 500px) {
  :root {
    width: 100%;
    max-width: 500px;
  }
}
